<li class="profile-edit-input">
    <label for="{{name}}">{{label}}</label>
    <input
        class="profile-edit-input__field"
        type="{{type}}"
        placeholder="{{placeholder}}"
        name="{{name}}"
        id="{{name}}"
    />
</li>
